
#macro(getRequestBase)
#if($request.contextPath != "")$request.contextPath#end
#end

#macro(getJsPath $jsPath)#getRequestBase()/js/$jsPath#end
#macro(getCssPath $cssPath)#getRequestBase()/css/$cssPath#end
#macro(getImgPath $imgPath)#getRequestBase()/img/$imgPath#end
#macro(invoke $page)
    #if($page.startsWith("/"))
        #parse($page)
    #else
        #set($uri = $request.getAttribute("javax.servlet.include.request_uri"))
        #if(!$uri)#set($uri = $request.getServletPath())#end
        #set($path = $uri.substring(0, $uri.lastIndexOf("/")))
        #parse("$path/$page")
    #end
#end

#macro(message $errorMsg $returnMsg $cols)
	#if($errorMsg)
	<tr>
        <td colspan="$!cols" class="messageBar"><label class="message">错误：$errorMsg</label></td>
    </tr>
	#end
	#if($returnMsg)
	<tr>
        <td colspan="$!cols" class="messageBar"><label class="message">提示：$returnMsg</label></td>
    </tr>
	#end
#end


#macro(pageNavigation $pageInfo $formName )
	#if($pageInfo)
        <div class="page_change">
    		共有$!pageInfo.totalItem个记录
		## 设置页码宽度，一边pageWidth个
		#set($pageWidth = 5)
		## 判断是否有上一页，当前页数大于1才有
    	#if($pageInfo.currentPage > 1)
    		#set($previousPage=${pageInfo.currentPage} - 1)
    		 <a href="javascript:gotoPage('$formName', $previousPage);" class="prev_page btn_status1"> 上一页 </a>
    	#else
    		<a  class="prev_page btn_status1" href="javascript:void(0);">上一页 </a>
		#end
    	
		## 计算最左边的页码
		#if($pageInfo.currentPage > $pageWidth)
			#set ($leftPage=$pageInfo.currentPage - $pageWidth)
		#else
			#set ($leftPage = 1)
		#end
		## 计算最右边的页码
		#if($pageInfo.currentPage + $pageWidth > $pageInfo.totalPage)
			#set ($rightPage=$pageInfo.totalPage)
		#else
			#set ($rightPage = $pageInfo.currentPage + $pageWidth)
		#end
		#if($rightPage < 1)
			#set ($rightPage = 1)
		#end
		## 显示页码
		 <ul class="page_number">
		#foreach( $pageIndex in [$leftPage..$rightPage] )
		    #if($velocityCount > 6 )
		    #break
		    #end
        	#if($pageIndex!=$pageInfo.currentPage)
    			<a href="javascript:gotoPage('$formName', $pageIndex);" class="btn_status4">$pageIndex</a>
        	#else
    			<a href="javascript:void(0);" class="btn_status3">$pageIndex</a>
        	#end
		#end
		</ul>
		## 判断是否有下一页，当前页数小于总页数时才有
    	#if($pageInfo.currentPage < $pageInfo.totalPage)
    		#set($nextPage=${pageInfo.currentPage} + 1)
        	<a href="javascript:gotoPage('$formName', $nextPage);" class="prev_page btn_status2">下一页</a>
    	#else
    		<a class="prev_page btn_status2" href="javascript:void(0);">下一页  </a>&nbsp;
        #end
                共$pageInfo.totalPage页 到第<input type="text" onblur="inputPage('$formName',this)"  size="4" class="page_input" />&nbsp;页&nbsp;
    	<input name="" type="button" class="confirm" onclick="document.getElementsByName('$formName')[0].submit();" value="确定" />
    	</div>
 
    	
	#else
		<div class="pagenumber">没有分页对象</div>
	#end
	
	<script type="text/javascript">
		function inputPage(formName,obj){
            if(obj.value != ""){
            	gotoPage(formName,obj.value)
            }
        }
		function gotoPage(formName,pageIndex){
		if(pageIndex == ""){
			alert("请输入页码");
		        		return;
		}
		if(pageIndex>${pageInfo.totalPage}){
			pageIndex=${pageInfo.totalPage};
		}
		var pageNum1 = pageIndex + "";
		var pageNum = 1;
       	var pattern =   /^([0-9])+$/;
           var flag = pattern.test(pageNum1);
       	if(flag){
       		pageNum = pageNum1;
       	}else{
			alert("页码["+pageNum1+"]不正确");
       		return;
       	}
       	var pageInputName = "currentPage";
       	var pageInput = null;
       	var form = document.getElementsByName(formName)[0];

       	if(document.getElementsByName(pageInputName).length != 0){
       		pageInput = document.getElementsByName(pageInputName)[0];
       		pageInput.value = pageNum;
       	}else{
       		pageInput = document.createElement("input");
       		pageInput.type = "hidden";
       	    pageInput.name = "currentPage";
       	    pageInput.value = pageNum;
       	    form.appendChild(pageInput);
       	}
		form.submit();
      }
	</script>
#end